# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Environment variables

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Build output
dist/
build/
out/
*.tgz

# OS-specific files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/

# React
public/
*.cache/
*.pnp.*
.pnp/
build/
coverage/
*.eslintcache

# Temporary files
*.tmp
*.swp

# Docker
Dockerfile
docker-compose.yml

# Git-specific files
.git/
